@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes shimmer {
    0% {
      background-position: -1000px 0;
    }
    100% {
      background-position: 1000px 0;
    }
  }
  
  .shimmer {
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.1) 25%,
      rgba(255, 255, 255, 0.2) 50%,
      rgba(255, 255, 255, 0.1) 75%
    );
    background-size: 1000px 100%;
    animation: shimmer 2s infinite linear;
    background-color: #333; /* Change this to match your background color */
  }
  
  @media  screen and (min-width:640px) {
    .removeBg{
      background: none !important;
    }
  }

  .clip{
    clip-path: circle(10px at 20px 20px);
  }

  .noclip{
    clip-path:circle(100% )
  }
